* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}
body{
    background-color: #efefef;
}

.navegador{
    display: flex;
    justify-content: space-between;
    
}
/* .header{
    background-color: rgb(6, 92, 32);
    height: 80px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
} */
.titulo{
    position: absolute;
    color: white;
    font-weight: bold;
    line-height: 80px;
    padding: 0 40px;
}

.persona{
    position: absolute;
    margin-top: 85px;
    margin-left: 550px;
    
}

.containerFormulario{ /*Este permite mover todo el*/
    position: absolute;
    top: 200px;
    left: 115px;
    height: 1000px;
    width: 1300px;
    border: 2px solid #4CAF50;
    background-color: #fff;
    border-radius: 15px;

}

.formulario{
    position: relative;
    width: 500px;
    height: 50px;
    left: 150px;
    top: 380px;
    border-radius: 20px;
    
}
.actualizar{
    position: relative;
    width: 100px;
    height: 50px;
    left: 100px;
    top: 300px;
    border-radius: 40px;
}

.volver{
    position: absolute;
    margin-top: 0px;
    margin-left: 30px;
}
.margen{
    position: absolute;
}
.login{
    position: absolute;
    margin-top: 20px;
    margin-left: 1440px;
}
.login:hover{
    border-radius: 50px;
    background-color: green;
    transition: 0.8s;
}
.redirecciones{
    position: absolute;
    margin-top: 35px;
    display: flex;
    margin-left: 570px;
    list-style: none;
    font-weight: bold;
    font-size: medium;
   
}
.item-menu{
    font-size: 18px;
    margin: 0 10px;
    text-transform: uppercase;
    width: max-content;
    
}
.link-menu-redireccion{
    padding: 8px 12px;
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
}
.link-menu-redireccion:hover{
    border-radius: 20px;
   background-color: #7ab005;
   transition: 0.8s;
}
.margen1{
    position: absolute;
    margin-top: 4500px;
    margin-left: -480px;
}
